
<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head"); %>
</head>
<body class="container">

<header>
    <%- include("../partials/header"); %>
</header>

<main>
    <div class="jumbotron">
        <h1>This is just a homework</h1>
        <p>Click on home to see COVID-19 statics</p>
    </div>
</main>

<footer>
    <%- include("../partials/footer"); %>
</footer>

</body>
</html>